#nome, #documento{
    width: 280px;
    height: 30px;
    font-size: 20px;
}
p{
    font-size: 20px;
}
#button{
    width: 290px;
    height: 40px;
    font-size: 20px;
}
#button:hover{
    background-color: blue;
    cursor: pointer;
}
#geral{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
}